<html>
{% load static %}

  <head>
    <title>Прикладное ПО 1</title>
    <link rel="stylesheet" href="{% static 'css/biblio.css' %}">

  </head>
  <body>
    <div class="topnav">
          <div class="navigation">
            <a href="/">Домашняя страница</a>
            <a href="/author/new" style=" background-color: #febcff; color: black;">Создать нового автора</a>
            <a href="/author/list">Список авторов</a>
            <a href="/genre/list">Список жанров</a>
            <a href="/">Список книг</a>

          </div>
          <div class="greetings">
            <h2>Здравствуй, Пользователь!</h2>
          </div>
    </div>
    <div class="body">
      <div class="">
        {% for author in authors %}
        <div>
          <h1><a href="">{{ author.first_name }}</a></h1>
          <h4>{{ author.last_name }}</h4>

          {% if author.date_of_birth != null %}
            <p>{{ author.date_of_birth }}</p>
          {% else %}
            <p>Дата не указана</p>
          {% endif %}

          {% if author.date_of_death != null %}
            <p>{{ author.date_of_death }}</p>
          {% else %}
            <p>Еще жив или дата не указана</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>

  </body>
</html>
