<html>
{% load static %}

  <head>
    <title>Прикладное ПО 1</title>
    <link rel="stylesheet" href="{% static 'css/biblio.css' %}">

  </head>
  <body>
    <div class="topnav">
          <div class="navigation">
            <a href="/">Домашняя страница</a>
            <a href="/genre/new" style=" background-color: #febcff; color: black;">Создать новую запись жанра</a>
            <a href="/author/list">Список авторов</a>
            <a href="/genre/list">Список жанров</a>
            <a href="/">Список книг</a>

          </div>
          <div class="greetings">
            <h2>Здравствуй, Пользователь!</h2>
          </div>
    </div>
    <div class="body">
      <div class="">
        {% for genre in genres %}
        <div>
          <h1><a href="">{{ genre.name }}</a></h1>
        </div>
        {% endfor %}
      </div>
    </div>

  </body>
</html>
